 .text-color-yellow{
     color: #FB8F61;
 }
 .text-color-blue{
    color: #363958
 }
.button-bg-color{
    background-image: linear-gradient(rgb(91, 91, 240),rgb(109, 78, 194));
}
.nav{
    text-decoration: none;
    color: #363958 ;
    font-weight: 600;
    padding: 10px;
}
.bg-color{
    background-color: bisque;
}